@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutReceipt.cshtml";

    string userFullname = Session["UserProfile.FullName"].ToString();
}
@section scripts {
    <script>
        const array_description = [];
        const array_withdraw = [];
        $(document).ready(function () {
            $("#txt-owner-name").blur(function () {
                $("#label-ower-name").html($(this).val());
            });

            $("#txt-contractor-name").blur(function() {
                $("#label-contractor-name").html($(this).val());
            });

            $("#btn-add-description").click(function () {
                $(this).prop('disabled', true);
                let count = parseInt($("#count-description").val());
                count++;
                array_description.push(count);

                if (array_description.length == 0) { $("#tbody-description-0").show(); }
                else { $("#tbody-description-0").hide(); }
                $("#count-description").val(count);

                let tbodyId = "#tbody-description-" + count;
                $.get("@Url.Action("GetDescriptionForm", "Contract")", { i: count, line_no: array_description.length }, function (html) {
                    $(tbodyId).html(html);
                    $("#btn-add-description").prop('disabled', false);
                });
                return false;
            });

            $("#btn-add-withdraw").click(function () {
                $(this).prop('disabled', true);
                let count = parseInt($("#count-withdraw").val());
                count++;
                array_withdraw.push(count);

                if (array_withdraw.length == 0) { $("#tbody-withdraw-0").show(); }
                else { $("#tbody-withdraw-0").hide(); }
                $("#count-withdraw").val(count);

                let tbodyId = "#tbody-withdraw-" + count;
                $.get("@Url.Action("GetWithdrawForm", "Contract")", { i: count, line_no: array_withdraw.length }, function (html) {
                    $(tbodyId).html(html);
                    $("#btn-add-withdraw").prop('disabled', false);
                });
                return false;
            });

            $("#btn-save").click(function () {
                var isValidate = validator();
                if (isValidate) {
                    if (confirm("ยืนยันการบันทึก")) {
                        $("#array_description").val(array_description);
                        $("#array_withdraw").val(array_withdraw);
                        $("#form-create").submit();
                    }
                }
                return false;
            });

            $("#txt-owner-address").blur(function () {
                $("#lable-madeat").html("ทำที่ : " + $(this).val());
            });
        });

        function RemoveDescription(i) {
            if (confirm("ยืนยันการลบ")) {
                const index = array_description.indexOf(parseInt(i));
                if (index > -1) {
                    array_description.splice(index, 1);
                }
                if (array_description.length == 0) { $("#tbody-description-0").show(); }
                else { $("#tbody-description-0").hide(); }

                var tbodyId = "#tbody-description-" + i;
                $(tbodyId).html("");
                LineNoDescription();
                SumTotalDescription();
            }
        }

        function RemoveWithdraw(i) {
            if (confirm("ยืนยันการลบ")) {
                const index = array_withdraw.indexOf(parseInt(i));
                if (index > -1) {
                    array_withdraw.splice(index, 1);
                }
                if (array_withdraw.length == 0) { $("#tbody-withdraw-0").show(); }
                else { $("#tbody-withdraw-0").hide(); }

                var tbodyId = "#tbody-withdraw-" + i;
                $(tbodyId).html("");
                LineNoWithdraw();
                SumTotalWithdraw();
            }
        }

        function SumDescription(i) {
            let price = 0;
            if ($("#select-unitprice-" + i).val() === "other") {
                price = parseFloat($("#txt-unitprice-" + i).val());
                $("#div-select-unitprice-" + i).hide();
                $("#div-txt-unitprice-" + i).show();
            }
            else {
                price = parseFloat($("#select-unitprice-" + i).val());
            }

            const quantity = parseFloat($("#txt-quantity-" + i).val());
            const sum = parseFloat(quantity * price);

            $("#lable-description-total-" + i).html(currency(sum));
            $("#description-total-" + i).val(sum);
            SumTotalDescription();
        }

        function SumTotalDescription() {
            let total = parseFloat(0.00);
            array_description.forEach(element => {
                let price = 0;
                if ($("#select-unitprice-" + element).val() === "other") {
                    price = parseFloat($("#txt-unitprice-" + element).val())
                }
                else {
                    price = parseFloat($("#select-unitprice-" + element).val())
                }
                total += parseFloat(parseFloat($("#txt-quantity-" + element).val()) * price);
            });

            $("#label-total-description,#label-contract-summary").html(currency(total));
            $("#total-description,#contract-summary").val(total);

            SumTotalWithdraw();
        }

        function SumWithdraw(i) {

            SumTotalWithdraw();
        }

        function SumTotalWithdraw() {
            const total = parseFloat($("#contract-summary").val());
            let sumPercent = 0.00;
            let sumTotal = 0.00;

            array_withdraw.forEach(element => {
                const percent = parseFloat($("#txt-withdraw-percent-" + element).val().replace("%", ""));
                sumPercent += percent;
                const calPercent = parseFloat(total * (percent / 100));
                sumTotal += calPercent;
                $("#lable-withdraw-total-" + element).html(currency(calPercent));
                $("#withdraw-total-" + element).val(calPercent);
            });

            $("#label-withdraw-sum-percent").html(sumPercent.toString()+"%");
            $("#withdraw-sum-percent").val(sumPercent);

            $("#label-withdraw-sum-total").html(currency(sumTotal));
            $("#withdraw-sum-total").val(sumTotal);
        }

        function LineNoDescription() {
            let i = 1;
            array_description.forEach(element => {
                $("#description-line-" + element).html(i);
                i++;
            });
        }

        function LineNoWithdraw() {
            let i = 1;
            array_withdraw.forEach(element => {
                $("#withdraw-line-" + element).html(i);
                i++;
            });
        }

        function MaterialChange(i) {
            const value = $("#select-material-" + i).val();
            if (value === "other") {
                $("#div-select-material-" + i).hide();
                $("#div-txt-material-" + i).show();

                var option = "<option value=\"other\" selected>อื่นๆ ระบุ</option>"
                $("#select-unit-" + i).html(option);
                $("#select-unit-" + i).change();
            }
            else {

                $.get("@Url.Action("GetUnitForm", "Contract")", { i: i, materialId: value }, function (options) {
                    $("#select-unit-" + i).html(options);
                    $("#txt-quantity-" + i).val(0);
                    var option = "<option value=\"0\" selected>กรุณาเลือก</option>"
                    $("#select-unitprice-" + i).html(option);
                    $("#div-txt-unit-" + i).hide();
                    $("#div-select-unit-" + i).show();

                    $("#txt-unitprice-" + i).val("0");
                    $("#div-txt-unitprice-" + i).hide();
                    $("#div-select-unitprice-" + i).show();
                    SumDescription(i);
                });
            }
        }

        function WithdrawChange(i) {
            if ($("#select-withdraw-" + i).val() === "other") {
                $("#div-select-withdraw-" + i).hide();
                $("#div-txt-withdraw-" + i).show();
            }
        }

        function UnitChange(i) {
            const value = $("#select-unit-" + i).val();
            if (value === "other") {
                $("#txt-unit-" + i).val("");
                $("#div-select-unit-" + i).hide();
                $("#div-txt-unit-" + i).show();
                //unitprice
                var option = "<option value=\"other\" selected>อื่นๆ ระบุ</option>"
                $("#select-unitprice-" + i).html(option);
                $("#select-unitprice-" + i).change();
            }
            else {
                $.get("@Url.Action("GetUnitPriceForm", "Contract")", { i: i, unitId: value }, function (options) {
                    $("#select-unitprice-" + i).html(options);
                    $("#txt-unitprice-"+i).val("0");
                    $("#div-txt-unitprice-" + i).hide();
                    $("#div-select-unitprice-" + i).show();
                    SumDescription(i);
                });
            }

        }

        function currency(number) {
            return new Intl.NumberFormat('th-TH', { minimumFractionDigits: 2 }).format(number);
        };

        function validator() {
            var isValidate = true;

            if ($("#txt-owner-name").val() === "") { isValidate = false; $("#txt-owner-name").addClass("border-danger"); }
            else { $("#txt-owner-name").removeClass("border-danger"); }

            if ($("#txt-owner-number").val() === "") { isValidate = false; $("#txt-owner-number").addClass("border-danger"); }
            else { $("#txt-owner-number").removeClass("border-danger"); }

            if ($("#txt-owner-address").val() === "") { isValidate = false; $("#txt-owner-address").addClass("border-danger"); }
            else { $("#txt-owner-address").removeClass("border-danger"); }

            if ($("#txt-owner-tel").val() === "") { isValidate = false; $("#txt-owner-tel").addClass("border-danger"); }
            else { $("#txt-owner-tel").removeClass("border-danger"); }

            if ($("#txt-contractor-name").val() === "") { isValidate = false; $("#txt-contractor-name").addClass("border-danger"); }
            else { $("#txt-contractor-name").removeClass("border-danger"); }

            if ($("#txt-contractor-license").val() === "") { isValidate = false; $("#txt-contractor-license").addClass("border-danger"); }
            else { $("#txt-contractor-license").removeClass("border-danger"); }

            if ($("#txt-contractor-address").val() === "") { isValidate = false; $("#txt-contractor-address").addClass("border-danger"); }
            else { $("#txt-contractor-address").removeClass("border-danger"); }

            if ($("#txt-contractor-tel").val() === "") { isValidate = false; $("#txt-contractor-tel").addClass("border-danger"); }
            else { $("#txt-contractor-tel").removeClass("border-danger"); }

            if ($("#txt-contract-description").val() === "") { isValidate = false; $("#txt-contract-description").addClass("border-danger"); }
            else { $("#txt-contract-description").removeClass("border-danger"); }

            if ($("#txt-contract-worksite").val() === "") { isValidate = false; $("#txt-contract-worksite").addClass("border-danger"); }
            else { $("#txt-contract-worksite").removeClass("border-danger"); }

            if (array_description.length == 0) {
                isValidate = false;
                alert("กรุณาเพิ่มรายละเอียดการจ่ายเงิน");
            }

            array_description.forEach(element => {
                if ($("#select-material-" + element).val() === "") { isValidate = false; $("#select-material-" + element).addClass("border-danger"); }
                else { $("#select-material-" + element).removeClass("border-danger"); }

                if ($("#select-material-" + element).val() === "other" && $("#txt-material-" + element).val() === "") { isValidate = false; $("#txt-material-" + element).addClass("border-danger"); }
                else { $("#txt-material-" + element).removeClass("border-danger"); }

                if ($("#txt-quantity-" + element).val() === "0") { isValidate = false; $("#txt-quantity-" + element).addClass("border-danger"); }
                else { $("#txt-quantity-" + element).removeClass("border-danger"); }

                if ($("#select-unit-" + element).val() === "") { isValidate = false; $("#select-unit-" + element).addClass("border-danger"); }
                else { $("#select-unit-" + element).removeClass("border-danger"); }

                if ($("#select-unit-" + element).val() === "other" && $("#txt-unit-" + element).val() === "") { isValidate = false; $("#txt-unit-" + element).addClass("border-danger"); }
                else { $("#txt-unit-" + element).removeClass("border-danger"); }

                if ($("#select-unitprice-" + element).val() === "0") { isValidate = false; $("#select-unitprice-" + element).addClass("border-danger"); }
                else { $("#select-unitprice-" + element).removeClass("border-danger"); }

                if ($("#select-unitprice-" + element).val() === "other" && $("#txt-unitprice-" + element).val() === "0") { isValidate = false; $("#txt-unitprice-" + element).addClass("border-danger"); }
                else { $("#txt-unitprice-" + element).removeClass("border-danger"); }
            });

            array_withdraw.forEach(element => {
                if ($("#select-withdraw-" + element).val() === "") { isValidate = false; $("#select-withdraw-" + element).addClass("border-danger"); }
                else { $("#select-withdraw-" + element).removeClass("border-danger"); }

                if ($("#select-withdraw-" + element).val() === "other" && $("#txt-withdraw-" + element).val() === "") { isValidate = false; $("#txt-withdraw-" + element).addClass("border-danger"); }
                else { $("#txt-withdraw-" + element).removeClass("border-danger"); }

                if($("#txt-withdraw-percent-" + element).val() === "0") { isValidate = false; $("#txt-withdraw-percent-" + element).addClass("border-danger"); }
                else { $("#txt-withdraw-percent-" + element).removeClass("border-danger"); }
            });

            if ($("#withdraw-sum-percent").val() > 100) { isValidate = false; alert("รายการเบิกเงินเกิน 100 เปอร์เซ็นต์"); }

            if (!isValidate) {
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            }
            return isValidate;
        }
    </script>
}
<section class="wrapper">
    <form id="form-create" method="post" action="@Url.Action("PostCreate", "Contract")">
        <input type="hidden" id="array_description" name="array_description" />
        <input type="hidden" id="array_withdraw" name="array_withdraw" />
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 pt-8 text-center">
                    <h2>สัญญาจ้างเหมางานก่อสร้าง</h2>
                </div>
                <div class="col-12 pt-0 fs-14 text-end pe-15">
                    <input type="hidden" name="CreatedById" value="@Session["UserProfile.Id"].ToString()" />
                    <p class="m-0">หมายเลขสัญญา : @ViewBag.ContractNumber</p><input type="hidden" name="ContractNumber" value="@ViewBag.ContractNumber" />
                    <p class="m-0" id="lable-madeat">ทำที่ : </p>
                    <p class="m-0">วันที่ : @ViewBag.CreateDate</p>
                </div>
            </div>
            <div class="row pt-4">
                <label for="" class="col-3 col-form-label form-control-sm text-end text-dark">หนังสือสัญญาฉบับนี้ทำขึ้นระหว่าง</label>
                <div class="col-3 ">
                    <input type="text" class="form-control form-control-sm" id="txt-owner-name" name="OwnerName" value="">
                </div>
                <label for="" class="col-3 col-form-label form-control-sm text-end text-dark">ทะเบียนนิติบุคคล/บัตรประชาชนเลขที่</label>
                <div class="col-3 ">
                    <input type="text" class="form-control form-control-sm" id="txt-owner-number" name="OwnerNumber" value="">
                </div>
            </div>
            <div class="row pt-2">
                <label for="" class="col-1 col-form-label form-control-sm text-end text-dark">ที่อยู่</label>
                <div class="col-5 ">
                    <input type="text" class="form-control form-control-sm" id="txt-owner-address" name="OwnerAddress" value="">
                </div>
                <label for="" class="col-1 col-form-label form-control-sm text-end text-dark">โทร</label>
                <div class="col-3 ">
                    <input type="text" class="form-control form-control-sm" id="txt-owner-tel" name="OwnerTel" value="">
                </div>
            </div>
            <div class="row pt-4 fs-14">
                <div class="offset-2 col-10">
                    <p class="m-0 text-dark">ซึ่งต่อไปในหนังสือสัญญาฉบับนี้เรียกว่า "ผู้ว่าจ้าง" ฝ่ายหนึ่งกับ</p>
                </div>
            </div>
            <div class="row pt-4">
                <div class="offset-1 col-3 ">
                    <input type="text" class="form-control form-control-sm" id="txt-contractor-name" name="ContractorName" value="">
                </div>
                <label for="" class="col-3 col-form-label form-control-sm text-end text-dark">ทะเบียนนิติบุคคล/บัตรประชาชนเลขที่</label>
                <div class="col-3">
                    <input type="text" class="form-control form-control-sm" id="txt-contractor-license" name="ContractorLicenseNumber" value="">
                </div>
            </div>
            <div class="row pt-2">
                <label for="" class="col-1 col-form-label form-control-sm text-end text-dark">ที่อยู่</label>
                <div class="col-5 ">
                    <input type="text" class="form-control form-control-sm" id="txt-contractor-address" name="ContractorAddress" value="">
                </div>
                <label for="" class="col-1 col-form-label form-control-sm text-end text-dark">โทร</label>
                <div class="col-3 ">
                    <input type="text" class="form-control form-control-sm" id="txt-contractor-tel" name="ContractorTel" value="">
                </div>
            </div>
            <div class="row pt-4 fs-14">
                <div class="offset-2 col-10">
                    <p class="m-0 text-dark">ซึ่งต่อไปในหนังสือสัญญาฉบับนี้เรียกว่า "ผู้รับจ้าง" อีกฝ่ายหนึ่ง</p>
                    <p class="m-0 text-dark">โดยทั้งสองฝ่ายได้ตกลงสัญญาจ้างเหมางานก่อสร้างกันโดยมีรายละเอียดงานที่ว่าจ้างดังต่อไปนี้</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-2 ps-15 pe-15">
                    <table class="table table-bordered fs-14 mb-1 text-center">
                        <thead style="background-color:#BDCDFF;color:#525DFF">
                            <tr>
                                <th class="w-50" scope="col">รายละเอียดงานที่ว่าจ้าง</th>
                                <th class="w-30" scope="col">หน้างานโครงการ</th>
                                <th class="w-20" scope="col">มูลค่าสัญญา(บาท)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" id="txt-contract-description" name="DescriptionOfWork" value=""></td>
                                <td><input type="text" class="form-control" id="txt-contract-worksite" name="WorkSite" value=""></td>
                                <td class="align-middle text-red text-center fs-16 fw-bold"><div id="label-contract-summary">0.00</div><input type="hidden" id="contract-summary" name="ContractValue" value="0" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-2 ps-15 pe-15">
                    <input type="hidden" id="count-description" value="0" />
                    <table class="table table-bordered fs-14 mb-1 text-center">
                        <thead style="background-color:#BDCDFF;color:#525DFF">
                            <tr>
                                <th class="align-middle w-5" scope="col">#</th>
                                <th class="align-middle" scope="col">รายละเอียดการจ่ายเงิน</th>
                                <th class="w-19" scope="col">จำนวน<br />(Qty.)</th>
                                <th class="w-19" scope="col">หน่วย<br />(Unit)</th>
                                <th class="w-19" scope="col">ราคา/หน่วย<br />(Unit Price)</th>
                                <th class="w-19" scope="col">รวม<br />(Total)</th>
                                <th class="bg-gray w-7"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-description-0">
                            <tr><td colspan="6" class="text-center">ไม่มีรายการ</td><td class="bg-gray"></td></tr>
                        </tbody>
                        @for (int i = 1; i <= 50; i++)
                        {
                            <tbody id="tbody-description-@i"></tbody>
                        }
                    </table>
                    <div class="row">
                        <div class="col-6"><button id="btn-add-description" class="btn btn-sm btn-success p-1 w-16 fs-13">+ เพิ่มรายการ</button></div>
                        <div class="col-4 text-end"><p class="m-0 text-dark fs-16 fw-bold">รวมทั้งหมด</p></div>
                        <div class="col-2 pe-6 text-end"><p class="m-0 text-red fs-16 fw-bold" id="label-total-description">0.00</p><input type="hidden" id="total-description" value="0" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ps-15 pe-15 text-center">
                    <p class="m-0 pt-6 pb-2 fs-26">ตารางการเบิกเงิน</p>
                    <input type="hidden" id="count-withdraw" value="0" />
                    <table class="table table-bordered fs-14 mb-1 text-center">
                        <thead style="background-color:#BDCDFF;color:#525DFF">
                            <tr>
                                <th class="align-middle w-12" scope="col">งวดที่</th>
                                <th class="align-middle" scope="col">รายละเอียดงาน</th>
                                <th class="w-18" scope="col">เปอร์เซ็นต์</th>
                                <th class="w-20" scope="col">จำนวนเงิน</th>
                                <th class="bg-gray w-7"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-withdraw-0">
                            <tr><td colspan="4" class="text-center">ไม่มีรายการ</td><td class="bg-gray"></td></tr>
                        </tbody>
                        @for (int i = 1; i <= 50; i++)
                        {
                            <tbody id="tbody-withdraw-@i"></tbody>
                        }
                        <tbody>
                            <tr>
                                <td colspan="2" class="align-middle fs-16 text-end fw-bold">รวม</td>
                                <td class="align-middle fs-16 text-center fw-bold"><p class="p-0 m-0" id="label-withdraw-sum-percent">0%</p><input type="hidden" id="withdraw-sum-percent" value="0"/></td>
                                <td class="align-middle text-red fs-16 text-center fw-bold"><p class="p-0 m-0" id="label-withdraw-sum-total">0.00</p><input type="hidden" id="withdraw-sum-total" /></td>
                                <td class="bg-gray">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-start">
                        <div class="col-12"><button class="btn btn-sm btn-success p-1 w-16 fs-13" id="btn-add-withdraw">+ เพิ่มรายการ</button></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end fs-14 pt-8">
                <div class="col-4 text-center ">
                    <p class="p-0 m-0">ลงชื่อ ............................................................................. (ผู้ว่าจ้าง)</p><div id="label-ower-name"></div>
                </div>
                <div class="col-4 text-center ">
                    <p class="p-0 m-0">ลงชื่อ ............................................................................. (ผู้รับจ้าง)</p><div id="label-contractor-name"></div>
                </div>
            </div>
            <div class="row justify-content-end fs-14 pt-8">
                <div class="col-4 text-center ">
                    <p class="p-0 m-0">ลงชื่อ .................................................................... (ผู้ออกเอกสาร)</p><div>@userFullname</div>
                </div>
                <div class="col-4 text-center ">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <hr class="mt-4 mb-1" />
                    <hr class="mt-1 mb-3" />
                    <a id="btn-print" href="@Url.Action("PrintCreatePDF","Contract")" class="btn btn-sm rounded-pill btn-gradient gradient-6 mb-8 me-1 w-18 fs-16 pt-1 pb-1">พิมพ์</a>
                    <button id="btn-save" class="btn btn-sm rounded-pill btn-gradient gradient-6 mb-8 me-1 w-18 fs-16 pt-1 pb-1">บันทึก</button>
                </div>
            </div>
        </div>
    </form>
</section>